.updatecard {
    width: auto;
    height: auto;
    margin: auto;
    padding: 10px;
}
.formgroup {
    padding: 10px;
    margin: 0px;
}
.inputtxt {
    background-color: #F2F2F2;
    border-width: 0px;
    width: 100%;
}
.updatebnt {
    background-color: rgb(255, 71, 91);
    border-radius: 10px;
    border-width: 0px;
    margin: 10px;
}